ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
li::after {
    content: '|';
    margin: 0 15px;
    color: #ccc;
}
li:last-child::after {
    content: none;
}
table {
    border-collapse: collapse;
    border: 1px solid #eee;
    margin-top: 20px;
}
tr td:nth-child(2) {
    text-align: center;
    width: 200px;
}
td, th {
    padding: 7px 15px;
}

.line, .focus cirlce {
    fill: none;
}
.line {
    stroke: #333;

}
